
<div class="form-horizontal well">
    <div class="form-group">
        <label for="account-name-div" class="control-label col-md-2">Name</label>
        <div id="account-name-div" class="col-md-10">
            <p id="account-name" class="form-control-static"></p>
        </div>
    </div>
    <div class="form-group">
        <label for="account-summary-div" class="control-label col-md-2">Summary</label>
        <div id="account-summary-div" class="col-md-10">
            <p id="account-summary" class="form-control-static"></p>
        </div>
    </div>
</div>
 <table class="table">
     <thead>
     <tr>
            <th>Transaction Id</th>
            <th>Transaction name</th>
            <th>Amount</th>
     </tr>
     </thead>
     <tbody id="financial-transactions"></tbody>
 </table>
<a class="btn btn-primary" id="add_transaction">Add transaction</a>
